body {
    font-family: "Brush Script MT", cursive;
    background-color: #f3f4f6;
}

h1 {
    text-align: center;
    margin-top: 140px;
    font-size: 100px;
    color: #e3b261;
}

#recipes-container {
    width: 1300px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* border: 2px solid red; */
}

#recipes-container div {
    border: 4px solid #e3b261;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-img {
    width: 100%;
    height: 70%;
}

a {
    text-decoration: none;
    color: #e3b261;
    font-size: 50px;
    margin-top: 28px;
}

a:hover {
    color: #a16400;
}
